.forecast-flax-wrapper {
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.forecast-flax-wrapper::-webkit-scrollbar {
  display: none;
}

@media (max-width: 675px) {
  .forecast-flax-wrapper {
    justify-content: left;
    -webkit-overflow-scrolling: touch;
    padding-left: 30px;
  }
}
